<%- include('../partials/header') %>
<h2><%=title%></h2>
  <h5>Eagle: My Favorite Bird</h5>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/eagle.jpg" alt="Eagle"  width="442" height="200" ></div> 
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h5>Flamingo: My Favorite Bird</h5>
  	<div class="fakeimg">
      <img src="views/images/flamingo.jpg" alt="Flamingo" width="456" height="200">
      </div>
  </div> 
  	<h2 class="mt-5">Birds are the beauty of mother nature!</h2>
  
  	<p>Birds are a group of warm-blooded vertebrates constituting the class Aves, characterised by feathers, toothless beaked jaws, the laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart, and a strong yet lightweight skeleton.</p>
  
<%- include('../partials/footer') %>