<%- include('../partials/header') %>
<h2><%=title%></h2>
  <h5>Star Fish: My Favorite Fish</h5>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/starfish.jpg" alt="Star Fish"  width="442" height="200" ></div> 
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h5>Dolphin: My Favorite Fish</h5>
  	<div class="fakeimg">
      <img src="views/images/dolphin.jpg" alt="Dolphin" width="456" height="200">
      </div>
  </div> 
  	<h2 class="mt-5">Fish are the beauty of mother nature!</h2>
  
  	<p>Fish are aquatic, craniate, gill-bearing animals that lack limbs with digits. Included in this definition are the living hagfish, lampreys, and cartilaginous and bony fish as well as various extinct related groups. Approximately 95% of living fish species are ray-finned fish, belonging to the class Actinopterygii, with around 99% of those being teleosts.</p>
  
<%- include('../partials/footer') %>