<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h5>Wildlife in Ethiopia:</h5>
  	<div class="fakeimg">
      <img src= "views/images/ethiopia.jpg" alt="Ethiopia"  width="430" height="200">
    </div>
  	<p>Ethiopia isn’t necessarily always thought of as a wildlife destination, but its unique fauna is among some of its many great treasures. The country is home to several endemic species that could be classified as, for want of a better word, oddballs – ranging from the elusive Ethiopian wolf to no fewer than 16 different bird species.</p>
  	<h3 class="mt-4">Edlawit's Profile</h3>
  	<p>Feel free to check the following links:</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="http://www.linkedin.com/in/edlawit-girma-605155237">LinkedIn</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/Edlme">GitHub</a>
    	</li>   	
    	
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>The Walia ibex</h2>
  	<h5>Walia Ibex is endemic to Ethiopia.</h5>
  	<div class="fakeimg">
           <img src="views/images/waila-ibex.jpg" alt="Walia Ibex" width="855" height="200"> 
    </div>
  	<p>Ethiopia is rich with wildlife.</p>
  	<p>The Walia ibex is an endangered species of ibex that can be found only in the mountains of Ethiopia. These animals have a chocolate-brown to chestnut-brown coat coloration, a greyish-brown muzzle, and a lighter grey in the eyes and legs. The belly and insides of the legs are white in color, and black and white patterns stretch upon the legs of these animals. The males have very large horns that curve backward, reaching lengths up to 110 cm (43 in). These horns are used for dominance disputes between males. The males also have distinguished black beards. Females also have horns, but they are shorter and thinner. Females are smaller and lighter in color. The horns on both males and females are rigid.</p>

  	<h2 class="mt-5">The Gelada Baboon</h2>
  	<h5>Gelada Baboon is endemic to Ethiopia.</h5>
  	<div class="fakeimg"> <img src="views/images/gelada-baboon.jpg" alt="Gelada Baboon" width="133" height="200"> </div>
  	<p>Ethiopia is rich with wildlife.</p>
  	<p>The gelada, sometimes called the bleeding-heart monkey or the gelada baboon, is a species of Old World monkey found only in the Ethiopian Highlands, living at elevations of 1,800–4,400 m above sea level.</p>
<%- include('../partials/footer') %>