<%- include('../partials/header') %>
<h2><%=title%></h2>
  <h5>Lion: My Favorite Mammal</h5>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/lion.jpg" alt="Lion"  width="442" height="200" ></div> 
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h5>Elephant: My Favorite Mammal</h5>
  	<div class="fakeimg">
      <img src="views/images/elephant.jpg" alt="Elephant" width="456" height="200">
      </div>
  </div> 
  	<h2 class="mt-5">Mammals are the beauty of mother nature!</h2>
  
  	<p>Mammals are a group of vertebrate animals constituting the class Mammalia, characterized by the presence of mammary glands which in females produce milk for feeding their young, a neocortex, fur or hair, and three middle ear bones.</p>
  
<%- include('../partials/footer') %>